<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1rem">
  <a class="navbar-brand" (click)="navigateTo('home')"><img alt="logo" src="assets/icons/arm-svgrepo-com.svg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('products')" >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('add-product')" >Add product</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-right: 0 !important;">
      <li *ngIf="currentRoute === '/products'">
        <mat-icon (click)="openCartDialog()" style="margin-top: 8px">shopping_cart</mat-icon>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{loginUrl}}" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="navigateTo('sign-up')" >Sign up</a>
      </li>
    </ul>
  </div>
</nav>
